.Item {
  margin-bottom: 20px;
  // margin-bottom: spacing(tight);

  &:last-child {
    margin-bottom: 0;
  }

  .ListOption:first-child {
    margin-top: 10px;
    // margin-top: spacing(tight);
  }

  .ListOption {
    .typeNumber {
      margin-right: 10px;
      // margin-right: spacing(tight);
    }
  }
}
