@import '../../../../polaris//polaris.shopify.com/src/styles/globals.scss';

:root {
  @extend .light-mode;
}

.dark {
  @extend .dark-mode;
}

:root {
  --p-font-weight-regular: 400;
}

html:not(.example-preview),
html:not(.example-preview) body {
  font-size: var(--p-font-size-400);
}
