.docs-props-table__table,
.dpt__type-table {
  overflow: hidden;
  font-size: 0.9rem;
  border-radius: var(--props-table-border-radius);
  border: 1px solid var(--props-table-border-color);
}

.dpt__type-table {
  margin-top: 1rem;
}

.docs-props-table__th {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  color: var(--code-keyword);
  font-family: var(--font-family-mono);
  padding: 0.66em 1em;
  background-color: var(--props-table-th-bg-color);

  .docs-props-table__close {
    display: inline-block;
    padding: 0.25em 0.25em 0.25em 0.5em;
    color: var(--text-strong);
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

.docs-props-table__row {
  display: block;
  padding: 1em;
  border-bottom: 1px solid var(--props-table-border-color);

  &:last-child {
    border-bottom: none;
  }

  dd {
    margin-left: 0;
    font-size: .8rem;
    opacity: 0.9;

    p {
      margin: 0;
      line-height: 1.4rem;
    }
  }

  .dpt__name {
    display: inline-block;
    margin-right: 0.5rem;
    color: var(--text-strong);
    font-weight: 500;

    .dpt__name--colorize {
      color: var(--code-comment);
    }
  }

  .dpt__type {
    padding-bottom: 0.15rem;
    font-family: var(--font-family-mono);
    color: var(--code-keyword);

    &[data-props-type="string"] {
      color: var(--code-string);
    }

    &[data-props-type="boolean"] {
      color: var(--code-boolean);
    }

    &[data-props-type="number"] {
      color: var(--code-number);
    }

    &[data-props-type="collection"] {
      color: var(--code-number);
    }

    &[data-props-type="object"] {
      position: relative;
      cursor: pointer;
      border-bottom: 1px dashed var(--props-table-border-color);
    }

    &.dpt-type-separator {
      font-size: 0.8rem;
      color: var(--text-strong);
    }
  }

  .dpt__types {
    font-family: var(--font-family-mono);

    span:not(.dpt__type) {
      display: inline-block;
      margin: 0 0.5rem;
      font-weight: 500;
      font-size: 0.7rem;
    }

    span.dpt--no-space {
      margin: 0;
    }
  }

  .dpt-type-name {
    color: var(--text);
  }

  .dpt__tag {
    display: flex;
    margin-top: 0.25rem;

    span {
      display: inline-block;
      margin: 0 0.25rem;
      color: var(--code-string);
      font-family: var(--font-family-mono);
    }
  }
}

.docs-props-table__row.docs-props-table__row--expanded {
  .dpt__type[data-props-type="object"] {
    border-bottom: none;
  }
}
