.ListOption {
  // padding-left: spacing(loose);
  margin-top: 0;
  margin-bottom: 10px;
  list-style: disc outside none;

  + .ListOption {
    margin-top: 10px;
    // margin-top: spacing();
  }
}

.typeNumber {
  // padding-left: spacing(extra-loose);
  list-style: decimal outside none;
}

.Item {
  margin-bottom: 10px;
  // margin-bottom: spacing(tight);

  &:last-child {
    margin-bottom: 0;
  }

  .ListOption:first-child {
    margin-top: 10px;
    // margin-top: spacing(tight);
  }
}
