*, :after, :before {
  box-sizing: border-box;
}

html {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body,
html {
  font-size: var(--p-font-size-base);
  letter-spacing: normal;
  font-weight: 400;
  color: var(--p-text);
  font-family: $font-stack-base;
}
