# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Release as npm package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v3 # docs https://pnpm.io/continuous-integration#github-actions
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version: lts/iron
      - run: yarn

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version: lts/iron
          registry-url: https://registry.npmjs.org/
      - run: yarn
      - name: Setup submodule
        run: |
          cd polaris
          pnpm install
          pnpm build
          cd ../
      - name: Build the package
        run: yarn build
      - name: Publish to NPM
        run: yarn publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
